<h1>管理側商品一覧</h1>

<h1><%= link_to "新規商品登録",new_admin_item_path %></h1>
<table>
  <thead>
    <tr>
      <th>商品ID</th>
       <th>商品名</th>
        <th>税抜価格</th>
         <th>ジャンル</th>
          <th>ステータス</th>
    </tr>

    <tbody>
      <%= @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= item.name %></td>
        <td><%= item.price %></td>
        <td><%= item.genre_id %></td>
        <td><%= item.is_status %></td>
      </tr>
      <% end %>


    </tbody>
  </thead>

</table>