<h1>管理側商品一覧</h1>

<h1><%= link_to "新規商品登録", new_admin_item_path %></h1>
<table>
  <thead>
    <tr>
      <th>商品ID</th>
       <th>商品名</th>
        <th>税抜価格</th>
         <th>ジャンル</th>
          <th>ステータス</th>
    </tr>
  </thead>

    <tbody>
      <%= @items.each do |item| %>
      <td>
        <td><%= item.id %></td>
        <td><%= item.name %></td>
        <td><%= item.price %>円</td>
        <td><%= item.genre_id %></td>


        <td><% if item.is_status==false %>販売中
            <% else item.is_status==true %>販売停止中
            <% end %>
        </td>
        <td><%# if item.image.attached? %>
        <%#= image_tag item.image, size: "50x50" %>
        <%# else %>
        <%#= image_tag 'no_image', size: "50x50" %>
        <%# end %>
        </td>
      </tr>
      <% end %>

    </tbody>
  </thead>

</table>
