<div class="container" style="margin-top: 20px;">
  <div class="row">
    <div class="col-8, mx-auto">
      <%= image_tag('top.png', size: "800x400") %>
      <h4 style="font-family: HiraMinPro-W6; color: #000000; margin: 20px 0;">ようこそ、NaganoCakeへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。<br>
      </h4>
    </div>
    
    <div class="col-4, mx-auto">
      <div class="item--card-content">
        <% @items.last(4).each do |item| %>
          <div class="col-xs-3" style="padding-right: 0px; padding-left: 0px;">
            <% if item.image.attached? %>
            <%= link_to item_path(item.id) ,style: "color: black;", data: {"turbolinks" => false} do %>
            <%= image_tag item.image, size: "150x150" %><br>
					  <% end %>
					  <% else %>
					  <%= link_to item_path(item.id) ,style: "color: black;", data: {"turbolinks" => false} do %>
					  <%= image_tag 'no_image', size: "150x150" %><br>
						<% end %>
						<% end %>
            <%= item.name %><br>
            ¥<%= item.price.to_s(:delimited, delimiter: ',') %>
            <% end %>
            </div>
            <div>
        </div>
    </div>
    <h3><%= link_to "もっと見る", items_path, class: "pull-right", style: "font-family: HiraMinPro-W6; color: #000000; margin: 30px 0;" %></h3>
    </div>
  </div>
</div>