<div class="container">
  <h2 class="mt-5">
    <%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集画面
  </h2>
  <%= form_with model: @customer, url: admin_customer_path, method: :patch do |f| %>
  <div class="row">
    <div class="col-xs-8 mt-3">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>会員ID</td>
            <td><%= @customer.id %></td>
          </tr>
          <tr>
            <td>氏名</td>
            <td>
              <div class="form-group">
                <div class="form-inline">
                  <%= f.text_field :last_name, class: "col-sm-5 form-control" %>
                  　　<%= f.text_field :first_name, class: "col-sm-5 form-control" %>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>フリガナ</td>
            <td>
              <div class="form-group">
                <div class="form-inline">
                  <%= f.text_field :kana_last_name, class: "col-sm-5 form-control" %>
                  　　<%= f.text_field :kana_first_name, class: "col-sm-5 form-control" %>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>郵便番号</td>
            <td>
              <div class="form-group">
                <div class="form-inline">
                  <%= f.text_field :postal_code, class: "col-sm-5 form-control" %>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>住所</td>
            <td>
              <div class="form-group">
                <div class="form-inline">
                  <%= f.text_field :address, class: "col-sm-12 form-control" %>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td>
              <div class="form-group">
                <div class="form-inline">
                  <%= f.text_field :tel_number, class: "col-sm-5 form-control" %>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td>
              <div class="form-group">
                <div class="form-inline">
                  <%= f.text_field :email, class: "col-sm-10 form-control" %>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>会員ステータス</td>
            <td>
              <%= f.radio_button :is_deleted, false %>
            　<%= f.label :is_deleted, "有効", {value: :false, style: "display: inline-block;"} %>
              　<%= f.radio_button :is_deleted, true %>
            　<%= f.label :is_deleted, "退会", {value: :true, style: "display: inline-block;"} %>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <%= f.submit '変更を保存する' ,class: "btn btn-primary" %>
              <%= link_to "戻る", admin_customer_path, class: "btn btn-info" %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <% end %>
</div>