<div class="container">
  <h2 class="mt-5">配送先登録/一覧</h2>
  <%= form_with model: @address, url: '/addresses', method: :post do |f| %>
    <div class="form-group ">
      <%= f.label :郵便番号（ハイフンなし） %>
      <%= f.text_field :postal_code, class: 'col-sm-3 form-control',:placeholder => "例:1234567" %>
    </div>
    <div class="form-group">
      <%= f.label :住所 %>
      <%= f.text_field :address, class: 'col-sm-5 form-control',:placeholder => "例:長野県〇〇市〇〇町1-1-1"  %>
    </div>
    <div class="form-group">
      <%= f.label :宛名 %>
      <%= f.text_field :name, class: 'col-sm-5 form-control',:placeholder => "例:ながのCAKE" %>
    </div>
    <div class="form-group">
      <%= f.submit '新しい配送先を登録',class: 'btn btn-primary' %>
    </div>
  <% end %>
  <table class="table table-striped table-bordered bg-light">
    <thead>
      <tr>
        <th>郵便番号</th>
        <th>住所</th>
        <th>宛名</th>
        <th colspan="4"></th>
      </tr>
    </thead>
    <% @addresses.each do |address| %>
    <tbody>
      <tr>
        <td><%= address.postal_code %></td>
        <td><%= address.address %></td>
        <td><%= address.name %></td>
        <td colspan="4">
          <%= link_to "編集する", edit_address_path(address), class: 'btn btn-success' %>
          <%= link_to "削除する", address_path(address), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-danger" %></td>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>