<h1>ショッピングカート</h1>

    <h1><%=link_to "カートを空にする",all_destroy_cart_items_path,mehod: :delete,"data-confirm" => '買ってください'%></h1>


<table class="table table-hover table-bordered col-xs-10" >
    <thead>
        <tr class="info">
            <th class="col-xs-3">商品名</th>
            <th class="col-xs-2">単価（税込み）</th>
            <th class="col-xs-1">数量</th>
            <th class="col-xs-1">小計</th>
            <th class="col-xs-1"></th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <% @cart_items.each do |cart_item| %>
                <td><%= cart_item.item.name %></td>
                <td><%= cart_item.item.with_tax_price %></td>
                <td><%= cart_item.item.quantity %></td>
                <td><%= cart_item.subtotal %></td>
                <%# @合計金額 +=  cart_item.subtotal %>
                <td><%=link_to "削除する", cart_item_path(cart_item.id), mehod: :delete %></td>
            <% end %>
        </tr>
    </tbody>

</table>