<div "container">
  <div class='row mb-3'>
    <div class='col-8 offset-1'>
      <h4 class="pt-3 font-weight-bold">注文情報確認</h4>
    </div>
  </div>
  <div class='row'>
    <div class='col-7 offset-1'>
      <table class='table table-bordered border-dark'>
        <tr class="table-secondary">
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
      <!--合計金額totalの初期化-->
        <% total = 0 %>
        <% @cart_items.each do |cart_item| %>
        <tr>
          <td>
              <%= cart_item.item.name %></td>
            <td><%= (cart_item.item.price*1.1).floor.to_s(:delimited)%>円</td>
            <td><%= cart_item.quantity %>個</td>
            <td>
       <!--小計の計算-->
          <% subtotal = ((cart_item.item.price*cart_item.quantity)*1.1).floor.to_s(:delimited) %>
       <!--小計を表示-->
          <%= subtotal %>
            円</td>
        </tr>
        <!--アイテムごとに合計金額に加算する-->
          <% total += (cart_item.item.price*cart_item.quantity)*1.1 %>
        <% end %>
      </table>
    </div>
    <div class='col-3'>
      <table class="table table-bordered border-dark">
        <% @order.postage = 800 %>
          <tr><th class="table-secondary">送料</th><td><%= @order.postage %>円</td></tr>
          <tr><th class="table-secondary">商品合計</th><td><%= total.to_i.to_s(:delimited) %>円</td></tr>
        <% @order.total_payment = @order.postage + total.to_i %>
          <tr><th class="table-secondary">請求金額</th><td><%= @order.total_payment.floor.to_s(:delimited) %>円</td></tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class='col-11 offset-1'>
      <table class="table table-borderless">
        <tr><th class="col-1">支払い方法</th><td class="col-10"><%= @order.payment_type_i18n %></td></tr>
        <tr><th class="col-1">お届け先</th><td class="col-10">
          <%= @order.postal_code %>
          <%= @order.address %>
          <%= @order.name %>
        </td></tr>
      </table>
    </div>
  </div>

  <div class="row justify-content-center">
    <%= form_with model: @order, url: orders_path, method: :post, local: true do |f| %>
      <%= f.hidden_field :customer_id %>
      <%= f.hidden_field :postage %>
      <%= f.hidden_field :total_payment %>
      <%= f.hidden_field :payment_type %>
      <%= f.hidden_field :name %>
      <%= f.hidden_field :address %>
      <%= f.hidden_field :postal_code %>
      <%= f.hidden_field :status %>
      <%= f.submit "注文を確定する", class: "btn btn-success" %>
      <% end %>
  </div>
</div>
