<div class="container text-center">
  <div class="row">
        <div class='col-3'>
       		<div class="mt-5">
				<div class="genrekara" style="font-size :20px;" >ジャンルから探す</div>
					<table class="table table-bordered table-hover text-center ec-genre-list" >
					<tr>
					<td>
					<%= link_to "全商品を表示", @items_path, class:"ec-genre-list-item" %>
					</td>
					</tr>
					<% @genres.each do |genre| %>
					<%# if genre.is_genres_status == false %>
					<tr>
					<td>
					<%= link_to genre.name,genre_path(genre.id),class:"ec-genre-list-item"%>
					</td>
					</tr>
					<%# end %>
					<% end %>
					</table>
				</div>
			</div>


			<div class='col-6'>
			    <h2 class="mt-5">商品一覧    全<%= @itemss.count%>件</h2>
					<table>
						<tbody>
							<tr>
								<% @items.each do |item| %>
								<div class="d-flex flex-wrap">
								<% if item.is_status==false %>
								<% if item.image.attached? %>
								<td>
								<%=link_to item_path(item.id) do %>
								<%= image_tag item.image, size: "150x150" %><br>
							    <% end %>
								<% else %>
								<td>
								<%=link_to item_path(item.id) do %>
								<%= image_tag 'no_image', size: "150x150" %><br>
								<% end %>
								<% end %>
								<%= item.name %><br>
								￥<%= item.with_tax_price.to_s(:delimited)%>円<br>
								</td>
								</td>
								<% else %>
								<% end %>
								</div>
								<% end %>
							</tr>
						</tbody>
					</table>
			 </div>



	</div>
</div>

