<div class="container text-center">
  <div class="row">
    <div class='col-5'>
       <div class="mt-5">
         <% if @item.image.attached? %>
        <%= image_tag @item.image, size: "300x300" %>
        <% else %>
        <%= image_tag 'no_image', size: "300x300" %>
        <% end %>
        </div>
    </div>
    
          <div class='col-6'>
            <div class="mt-5">
                <h1><%= @item.name %><br></h1>
                <h2><%= @item.introduction %><br></h2>
                <h3>￥<%= @item.with_tax_price.to_s(:delimited)%><span>(税込)</span></h3>
                <%= form_with model: @cart_item, url: cart_items_path,method: :post do |f| %>
                <%= f.hidden_field :item_id,value: @item.id %>
                <%= f.select :quantity,*[1..10] %>
                <%= f.submit "カートに入れる",class: 'btn btn-success' %>
              <% end %>
            </div>
        　</div>
        　
  </div>
</div>